<%# locals: (title:, hash:) -%>
<section class="space-y-4">
  <header class="flex justify-between border-gray-400 border-b text-xs pb-2">
    <h2 class="text-gray-500 uppercase font-bold"><%= title %></h2>
    <button data-controller="clipboard" data-clipboard-text-value="<%= hash.to_json %>" data-action="clipboard#copy" class="text-red-700 no-underline"><%= render "clipboard_icon", classes: "text-gray-400 hover:text-red-700", size: 16 %></button>
  </header>
  <div class="overflow-auto w-full">
    <%= render "json_tree", hash: hash %>
  </div>
</section>
