table {
  border-collapse: collapse;
  margin: $base-spacing 0;
  table-layout: fixed;
  text-align: left;
  width: 100%;
}

thead {
  line-height: $heading-line-height;
  vertical-align: bottom;
}

tbody {
  vertical-align: top;
}

th {
  border-bottom: $base-border;
}
th {
  padding: 0 0 0.75rem 0;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: $oc-gray-5;
}

td {
  padding: 0.75rem 0 0 0;
}
