$browser-layout: (columns: 2);

.event {
  @include grid-container;
  padding: 2rem 0;
}

.event__title {
  @include grid-column(2, $browser-layout);
  font-size: 2.2rem;
}

.event__body {
  @include grid-column(2, $browser-layout);
}
