.u-flex {
  display: flex;
}

.u-flex-nowrap {
  flex-wrap: nowrap;
}

.u-flex-align-items-center {
  align-items: center;
}

.u-flex-justify-space-between {
  justify-content: space-between;
}

.u-flex-justify-center {
  justify-content: center;
}
