.git/
.bundle/
.yardoc
.rspec_status
.cache/
.mutant/
_yardoc/
coverage/
log/
pkg/
tmp/
bin/*
!bin/res_outbox
spec/reports/
spec/tmp/
db.sqlite3
node_modules/
elm-stuff/
build/
*.orig
ruby_event_store-browser/tailwindcss
ruby_event_store-browser/public/*
!ruby_event_store-browser/public/ruby_event_store_browser.js
!ruby_event_store-browser/public/stimulus.js
!ruby_event_store-browser/public/ruby_event_store_browser.css
!ruby_event_store-browser/public/apple-touch-icon.png
!ruby_event_store-browser/public/favicon-32x32.png
!ruby_event_store-browser/public/favicon-16x16.png
!ruby_event_store-browser/public/favicon.ico
!ruby_event_store-browser/public/safari-pinned-tab.svg
!ruby_event_store-browser/public/android-chrome-192x192.png
!ruby_event_store-browser/public/android-chrome-512x512.png
!ruby_event_store-browser/public/mstile-70x70.png
!ruby_event_store-browser/public/mstile-144x144.png
!ruby_event_store-browser/public/mstile-150x150.png
!ruby_event_store-browser/public/mstile-310x150.png
!ruby_event_store-browser/public/mstile-310x310.png
.inch/
.tmp
docker-compose.yml
