.bundle/
.yardoc
.rspec_status
.sass-cache/
.cache/
.mutant/
_yardoc/
coverage/
log/
pkg/
tmp/
bin/*
!bin/res_outbox
spec/reports/
spec/tmp/
db.sqlite3
node_modules/
build/
contributors.json
config/master.key
*.orig
ruby_event_store-browser/tailwindcss
ruby_event_store-browser/public/*
!ruby_event_store-browser/public/ruby_event_store_browser.js
!ruby_event_store-browser/public/stimulus-*.js
!ruby_event_store-browser/public/ruby_event_store_browser.css
.inch/
.tmp
support/bundler/*.lock
.docusaurus/
.devenv/
.devenv.flake.nix
devenv.local.nix
npm-debug.log*
yarn-debug.log*
yarn-error.log*
