.bundle/
.yardoc
.rspec_status
.sass-cache/
.cache/
Gemfile*.lock
_yardoc/
coverage/
log/
pkg/
tmp/
bin/*
!bin/res_outbox
spec/reports/
spec/tmp/
db.sqlite3
node_modules/
elm-stuff/
build/
contributors.json
config/master.key
*.orig
ruby_event_store-browser/public/*
.inch/
.tmp
