.bundle/
.yardoc
.rspec_status
.sass-cache/
.cache/
Gemfile.lock
_yardoc/
coverage/
log/
pkg/
tmp/
bin/
spec/reports/
spec/tmp/
db.sqlite3
node_modules/
elm-stuff/
build/
ruby_event_store_browser.js
rails_event_store_browser.js
contributors.json
config/master.key
