.contribute {
}

.contribute__contributors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0 -10px;
}

.contributor {
  width: 80px;
  height: 80px;
  margin: 8px;
}

.contributor__avatar {
  border-radius: 5px;
}

.contributor__link {
  border-bottom: none;
  border-radius: 5px;
  background-color: $oc-red-2;
  display: inline-block;
  line-height: 0;

  &:hover,
  &:focus,
  &:active {
    border-bottom: none;

    .contributor__avatar {
      filter: grayscale(100%);
      opacity: 0.5;
    }
  }
}
