.site-footer {
  text-align: center;
}

.site-footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-footer__link {
  margin: 0 1rem;
  color: $oc-gray-5;
  background: transparent;
  border-bottom: none;
  font-weight: normal;

  &:hover {
    background: inherit;
    border-bottom: none;
    color: $oc-red-3;
  }

  &:active,
  &:focus {
    color: $oc-white;
    background: inherit;
    border-bottom: none;
    outline: none;
  }
}
