.site-hero {
  text-align: center;
  margin: 0 auto;
}

.site-hero__title {
  color: $oc-gray-3;
  font-size: 5rem;
}

.site-hero__copy {
  color: $oc-gray-0;
}

.site-hero__cta {
  border: 2px solid $oc-red-8;
  display: inline-block;
  font-weight: 600;
  color: $oc-white;
  background-color: $oc-red-8;

  &:hover {
    border-color: darken($oc-red-8, 10);
    background-color: darken($oc-red-8, 10);
  }

  &:active,
  &:focus {
    border-color: darken($oc-red-8, 10);
    background-color: darken($oc-red-8, 10);
    color: white;
    outline: inherit;
  }
}

.site-hero__cta--secondary {
  background: transparent;
  border: 2px solid $oc-gray-7;
  color: $oc-gray-0;

  &:hover,
  &:active,
  &:focus {
    background: transparent;
    border: 2px solid $oc-red-8;
    color: $oc-red-8;
  }
}
