.site-hero {
  text-align: center;
  min-height: 42rem;
  max-width: 80rem;
  margin: 0 auto;
  padding: 4rem 0;
}

.site-hero__title {
  color: $oc-gray-0;
  margin: 5rem auto auto auto;

  font-size: 5rem;
  font-weight: $font-weight-bold;
  color: $oc-red-8;
}

.site-hero__copy {
  color: $oc-gray-0;
  font-size: 2.5rem;
  line-height: 3rem;
}

.site-hero__cta {
  border: 2px solid $oc-red-8;
  box-sizing: border-box;
  display: inline-block;
  font-weight: 600;
  font-size: 2rem;
  margin: 3rem auto;
  color: $oc-white;
  background-color: $oc-red-8;

  &:hover {
    border-color: darken($oc-red-8, 10);
    background-color: darken($oc-red-8, 10);
  }

  &:active,
  &:focus {
    border-color: darken($oc-red-8, 10);
    background-color: darken($oc-red-8, 10);
    color: white;
    outline: inherit;
  }
}

.site-hero__cta--secondary {
  background: transparent;
  border: 2px solid $oc-gray-7;
  color: $oc-gray-0;

  &:hover,
  &:active,
  &:focus {
    background: transparent;
    border: 2px solid $oc-red-8;
    color: $oc-red-8;
  }
}
