.site-navigation {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;

  @media (max-width: $sm) {
    flex-direction: column;
    align-items: flex-start !important;
  }
}

.site-navigation__site-name {
  font-weight: $font-weight-bold;
  color: $oc-red-8;
  background: transparent;
  border-bottom: none;

  &:hover {
    background: inherit;
    border-bottom: none;
  }

  &:active,
  &:focus {
    color: $oc-white;
    background: inherit;
    outline: none;
    border-bottom: none;
  }
}

.site-navigation__link {
  margin-left: 0.625rem;
  color: $oc-gray-5;
  background: transparent;
  border-bottom: none;
  font-weight: normal;

  &:hover {
    background: inherit;
    border-bottom: none;
    color: $oc-red-3;
  }

  &:active,
  &:focus {
    color: $oc-white;
    background: inherit;
    border-bottom: none;
    outline: none;
  }
}

.site-navigation__link:first-child {
  margin-left: 0;
}

.site-navigation__link--external {
  color: $oc-gray-2;

  &:active,
  &:focus {
    color: $oc-red-3;
    background: inherit;
    border: none;
    outline: none;
  }
}
