.site-section {
  padding: 2rem 1rem;
}

.site-section__title {
  color: $oc-gray-5;
  font-size: 2rem;
  margin: 0;
}

.site-section__subtitle {
  color: $oc-gray-6;
  font-size: 1.4rem;
  margin: 0;
}
