.site-section {
  padding: 1.5rem 1rem;
}

.site-section__title {
  color: $oc-gray-5;
  font-size: 1.5rem;
  margin: 0;
}

.site-section__subtitle {
  color: $oc-gray-6;
  font-size: 1rem;
  margin: 0;
}
