.stats {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $oc-gray-1;
  padding-bottom: 2rem;
}

.stats__stat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.stat__title {
  text-align: center;
  font-weight: normal;
  order: 2;
  margin-top: 0;
  color: $oc-gray-7;
}

.stat__value {
  text-align: center;
  font-size: 3.2rem;
  order: 1;
  color: $oc-gray-5;
}
