<!DOCTYPE html>
<html>
<head>
  <title>Rails event store browser</title>
  <%= stylesheet_link_tag    "rails_event_store/browser/application", media: "all" %>
  <%= javascript_include_tag "rails_event_store/browser/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
