source 'https://rubygems.org'

gem 'activerecord','6.0.3.4'
gem 'ruby_event_store', path: '../../ruby_event_store'
gem 'rails_event_store_active_record', path: '../../rails_event_store_active_record'
gem 'pg', '1.2.2'
gem 'mysql2', '0.5.3'
gem 'sqlite3', '1.4.2'