@import "~open-color/open-color.scss";

// Typography
$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$fixed-font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo,
  Courier, monospace;
$heading-font-family: $base-font-family;

// Line height
$base-line-height: 1.6;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: 1.5em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$brand-color: rgb(207, 66, 59);

// Font Colors
$base-font-color: $oc-gray-8;
$action-color: $brand-color;

// Border
$base-border-color: $oc-gray-4;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
