$navigation-layout: (columns: 3);

.navigation {
  @include grid-container;
  height: 6rem;
  background-color: $brand-color;
}

.navigation__brand {
  @include grid-column(1, $navigation-layout);
  display: flex;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}

.navigation__links {
  @include grid-column(2, $navigation-layout);
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}

.navigation__link {
  margin-left: 1rem;
  padding: 0.5rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.4rem;
  color: $oc-gray-1;

  &:hover {
    border-radius: 4px;
    background-color: darken($brand-color, 10);
    color: $oc-gray-0;
  }
}

.navigation__link--active {
  border-radius: 4px;
  background-color: darken($brand-color, 10);
  color: $oc-gray-0;
}

.navigation__logo {
  text-decoration: none;
  font-weight: 600;
  color: $oc-gray-0;
}
