.pagination {
  display: flex;
  margin-bottom: $small-spacing;
}

.pagination__page {
  height: 3.6rem;
  background: none;
  border: $base-border;
  text-align: center;
  padding: 1rem;
  margin-right: 0.5rem;

  color: $brand-color;
  border-color: $brand-color;
  font-weight: normal;
  font-size: 90%;
}

.pagination__page:focus {
  outline: none;
}

.pagination__page--previous {
}

.pagination__page--next {
}

.pagination__page--first {
}

.pagination__page--last {
}
