---
title: Rails Event Store
---
<header class="bg-gray-200">
  <div class="max-w-8xl mx-auto sm:px-2 lg:px-8 xl:px-12">
    <div class="py-24 px-4 text-gray-400 flex flex-col items-center">
      <h1 class="tk-league-gothic uppercase font-normal mb-6 text-gray-600 text-5xl sm:text-6xl">Rails Event Store</h1>
      <p class="text-lg mb-12 text-gray-500 sm:text-2xl">
        The open-source implementation of an Event Store for Ruby and Rails
      </p>
      <p>
        <%= link_to "Get Started", "/docs/v2/start/", class: "bg-none inline-block rounded bg-red-600 text-red-200 border-2 border-red-600 text-xl py-4 px-6 hover:bg-red-700 hover:border-red-700 hover:transition-all hover:duration-500 hover:ease-linear" %>
        <%= link_to "Get Support", "/support/", class: "bg-none inline-block rounded text-gray-500 border-2 border-gray-200 text-red-600 text-xl py-4 px-6 hover:text-red-600 hover:border-red-700 hover:transition-all hover:duration-500 hover:ease-linear" %>
      </p>
    </div>
  </div>
</header>
<main>
  <div class="max-w-8xl mx-auto px-4 lg:px-8 xl:px-12">
    <p class="mb-6 mt-12 text-lg sm:text-2xl leading-normal">
      Rails Event Store is a library for publishing, consuming, storing and retrieving events. It's&nbspyour best companion for going with an Event-Driven Architecture for your Rails application.
    </p>
    <ul class="my-6 grid md:grid-cols-3 gap-2 overflow-clip">
      <li class="h-48 bg-gray-100 rounded justify-center flex items-center p-4 text-xl text-center font-bold text-gray-500">
        Introduce Publish-Subscribe bus
      </li>
      <li class="h-48 bg-gray-100 rounded justify-center flex items-center p-4 text-xl text-center font-bold text-gray-500">
        Decouple core business logic from external concerns in Hexagonal style architectures
      </li>
      <li class="h-48 bg-gray-100 rounded justify-center flex items-center p-4 text-xl text-center font-bold text-gray-500">
        Replace ActiveRecord callbacks and Observers
      </li>
      <li class="h-48 bg-gray-100 rounded justify-center flex items-center p-4 text-xl text-center font-bold text-gray-500">
        Introduce communication layer between loosely coupled components
      </li>
      <li class="h-48 bg-gray-100 rounded justify-center flex items-center p-4 text-xl text-center font-bold text-gray-500">
        React to published events synchronously or asynchronously
      </li>
      <li class="h-48 bg-gray-100 rounded justify-center flex items-center p-4 text-xl text-center font-bold text-gray-500">
        Extract side-effects from your controllers and services into event handlers
      </li>
      <li class="h-48 bg-gray-100 rounded justify-center flex items-center p-4 text-xl text-center font-bold text-gray-500">
        Build an Audit Log
      </li>
      <li class="h-48 bg-gray-100 rounded justify-center flex items-center p-4 text-xl text-center font-bold text-gray-500">
        Introduce Read Models
      </li>
      <li class="h-48 bg-gray-100 rounded justify-center flex items-center p-4 text-xl text-center font-bold text-gray-500">
        Implement Event Sourcing
      </li>
    </ul>
    <h2 class="font-bold mt-24 mb-12  text-2xl md:text-4xl">Join growing list of companies using Rails Event Store</h2>
    <ul class="grid md:grid-cols-4 gap-4 mb-12">
      <li class="bg-gray-100 md:h-48 rounded p-6  font-bold text-gray-500 text-center">
        <a class="bg-none justify-center h-full w-full flex items-center" href="/billetto">
          <img class="max-w-[10rem] grow-0 shrink-1 w-full" src="/images/billetto_logo.svg" />
        </a>
      </li>
      <li class="bg-gray-100 md:h-48 rounded p-6  font-bold text-gray-500 text-center">
        <a class="bg-none justify-center h-full w-full flex items-center" href="https://zencargo.com">
          <img class="max-w-[10rem] grow-0 shrink-1 w-full" src="/images/zencargo_logo.png" />
        </a>
      </li>
      <li class="bg-gray-100 md:h-48 rounded p-6  font-bold text-gray-500 text-center">
        <a class="bg-none justify-center h-full w-full flex items-center" href="https://acatus-gmbh.homerun.co">
          <img class="max-w-[10rem] grow-0 shrink-1 w-full" src="/images/acatus_logo.svg" />
        </a>
      </li>
      <li class="bg-gray-100 md:h-48 rounded p-6  font-bold text-gray-500 text-center">
        <a class="bg-none justify-center h-full w-full flex items-center" href="https://assist-software.net">
          <img class="max-w-[10rem] grow-0 shrink-1 w-full" src="/images/assist_logo.png" />
        </a>
      </li>
      <li class="bg-gray-100 md:h-48 rounded p-6  font-bold text-gray-500 text-center">
        <a class="bg-none justify-center h-full w-full flex items-center" href="https://gat.engineering">
          <img class="max-w-[10rem] grow-0 shrink-1 w-full" src="/images/gat-logo.svg" />
        </a>
      </li>
      <li class="bg-gray-100 md:h-48 rounded p-6 font-bold text-gray-500 text-center">
        <a class="bg-none justify-center h-full w-full flex items-center" href="https://www.monterail.com">
          <img class="max-w-[10rem] grow-0 shrink-1 w-full" src="/images/monterail.svg" />
        </a>
      </li>
      <li class="bg-gray-100 md:h-48 rounded p-6 font-bold text-gray-500 text-center">
        <a class="bg-none justify-center h-full w-full flex items-center" href="https://www.trezy.io">
          <img class="max-w-[10rem] grow-0 shrink-1 w-full" src="/images/trezy.svg" />
        </a>
      </li>
      <li class="bg-gray-100 md:h-48 rounded p-6  font-bold text-gray-500 text-center">
        <a class="bg-none justify-center h-full w-full flex items-center" href="https://www.yago.be/">
          <img class="max-w-[10rem] grow-0 shrink-1 w-full" src="/images/yago.svg" />
        </a>
      </li>
      <li class="bg-gray-100 md:h-48 rounded p-6  font-bold text-gray-500 text-center">
        <a class="bg-none justify-center h-full w-full flex items-center" href="https://jobvalley.com/">
          <img class="max-w-[10rem] grow-0 shrink-1 w-full" src="/images/jobvalley.svg" />
        </a>
      </li>
    </ul>
  </div>
</main>
<%= partial "partials/site_footer" %>
