---
title: Support
---
<main>
  <div class="max-w-8xl mx-auto sm:px-2 lg:px-8 xl:px-12">
    <div class="flex flex-wrap border-t border-gray-200 py-6 first:pb-6 first:pt-4 first:border-0 mt-6">
      <div class="w-full text-2xl font-bold sm:w-2/5">
        <h3>Community Help</h3>
        <span class="block text-base uppercase text-gray-500 font-bold mt-2 mb-2">Free</span>
      </div>
      <div class="w-full text-xl sm:sm:w-3/5">
        <p class="mb-8">
          Rails Event Store has an active <a href="/community">community</a> of awesome contributors. They report encountered issues, propose and discuss possible improvements. Share what they've learned on blogs, meetups, conferences and strive to keep documentation comprehensive, up-to-date and on point.
        </p>
        <a href="/community" class="mt-2 inline-block text-lg">Learn more</a>
      </div>
    </div>
    <div class="flex flex-wrap border-t border-gray-200 py-6 first:pb-6 first:pt-4 first:border-0">
      <div class="w-full text-2xl font-bold sm:w-2/5">
        <h3>Domain-Driven Rails</h3>
        <span class="block text-base uppercase text-gray-500 font-bold mt-2 mb-2">Starting from $49</span>
      </div>
      <div class="w-full text-xl sm:sm:w-3/5">
        <p class="mb-8">
          Struggling with complex Rails app and business domain? Domain-Driven Rails will help you:
        </p>
        <blockquote class="text-gray-700 border-l-4 pl-4">
          <p class="mb-8">
            For a few years we’ve been studying Domain-Driven Design and applying its techniques in our projects. In Domain-Driven Rails we describe 11 techniques that you can use separately and together in new and old Rails apps to achieve better architecture. They were useful to us and we are sure they are going to be useful for you and your complex apps.
          </p>
        </blockquote>
        <a href="https://blog.arkency.com/domain-driven-rails/" class="mt-2 inline-block text-lg">Learn more</a>
      </div>
    </div>
    <div class="flex flex-wrap border-t border-gray-200 py-6 first:pb-6 first:pt-4 first:border-0">
      <div class="w-full text-2xl font-bold sm:w-2/5">
        <h3>Arkademy Subscription</h3>
        <span class="block text-base uppercase text-gray-500 font-bold mt-2 mb-2">$49 / month</span>
      </div>
      <div class="w-full text-xl sm:sm:w-3/5">
        <p class="mb-8">
          Get access to Rails Architect Masterclass, Domain-Driven Rails video course, Anti-IF course, TDD video class and more. Get in touch with fellow students and instructors on Discord.
        </p>
        <p class="mb-8">
          On Arkademy you will learn everything about DDD, Backend Architecture, UI Architecture Styles and Testing.
        </p>
        <a href="https://arkademy.dev" class="mt-2 inline-block text-lg">Join now</a>
      </div>
    </div>
    <div class="flex flex-wrap border-t border-gray-200 py-6 first:pb-6 first:pt-4 first:border-0">
      <div class="w-full text-2xl font-bold sm:w-2/5">
        <h3>Rails Event Store Mentoring</h3>
        <span class="block text-base uppercase text-gray-500 font-bold mt-2 mb-2">$2,000 / month</span>
      </div>
      <div class="w-full text-xl sm:sm:w-3/5">
        <p class="mb-8">
          3–month mentoring focused on initial development — first year of your project. Package includes code review and questions and answers calls every two weeks.
        </p>
        <a href="mailto:res@arkency.com" class="mt-2 inline-block text-lg">Get in touch</a>
      </div>
    </div>
    <div class="flex flex-wrap border-t border-gray-200 py-6 first:pb-6 first:pt-4 first:border-0">
      <div class="w-full text-2xl font-bold sm:w-2/5">
        <h3>Custom Feature Development</h3>
        <span class="block text-base uppercase text-gray-500 font-bold mt-2 mb-2">Ask for quote</span>
      </div>
      <div class="w-full text-xl sm:sm:w-3/5">
        <p class="mb-8">
          You ask for a missing Rails Event Store feature, we give you a fixed-price offer.
        </p>
        <a href="mailto:res@arkency.com" class="mt-2 inline-block text-lg">Get in touch</a>
      </div>
    </div>
    <div class="flex flex-wrap border-t border-gray-200 py-6 first:pb-6 first:pt-4 first:border-0">
      <div class="w-full text-2xl font-bold sm:w-2/5">
        <h3>One-shot Help</h3>
        <span class="block text-base uppercase text-gray-500 font-bold mt-2 mb-2">Ask for quote</span>
      </div>
      <div class="w-full text-xl sm:sm:w-3/5">
        <p class="mb-8">
          You're stuck with Rails Event Store — we can help. Price depends on the speed of our availability — we can fix something for you in a week or month.
        </p>
        <a href="mailto:res@arkency.com" class="mt-2 inline-block text-lg">Get in touch</a>
      </div>
    </div>
    <div class="flex flex-wrap border-t border-gray-200 py-6 first:pb-6 first:pt-4 first:border-0">
      <div class="w-full text-2xl font-bold sm:w-2/5">
        <h3>Legacy Rails/DDD Mentoring</h3>
        <span class="block text-base uppercase text-gray-500 font-bold mt-2 mb-2">Ask for quote</span>
      </div>
      <div class="w-full text-xl sm:sm:w-3/5">
        <p class="mb-8">6–month mentoring focused on existing apps — older than 2 years. Package includes code review and questions and answers calls every two weeks.</p>
        <a href="mailto:res@arkency.com" class="mt-2 inline-block text-lg">Get in touch</a>
      </div>
    </div>
    <div class="flex flex-wrap border-t border-gray-200 py-6 first:pb-6 first:pt-4 first:border-0">
      <div class="w-full text-2xl font-bold sm:w-2/5">
        <h3 class="leading-tight">From Event Storming to an App</h3>
        <span class="block text-base uppercase text-gray-500 font-bold mt-2 mb-2">Ask for quote</span>
      </div>
      <div class="w-full text-xl sm:sm:w-3/5">
        <p class="mb-8">2–days workshop in your office or in Wrocław, Poland. 1st day consists on an Event Storming session on your domain and bootstraping an application. 2nd day focused on <a href="https://en.wikipedia.org/wiki/Mob_programming">mob programming</a> of a Rails application with Rails Event Store — implementing disovered Domain Events, Commands and Aggregates.
        </p>
        <a href="mailto:res@arkency.com" class="mt-2 inline-block text-lg">Get in touch</a>
      </div>
    </div>
    <div class="flex flex-wrap border-t border-gray-200 py-6 first:pb-6 first:pt-4 first:border-0">
      <div class="w-full text-2xl font-bold sm:w-2/5">
        <h3>Rails DDD Workshop</h3>
        <span class="block text-base uppercase text-gray-500 font-bold mt-2 mb-2">Ask for quote</span>
      </div>
      <div class="w-full text-xl sm:sm:w-3/5">
        <p class="mb-8">2-days workshop focused on DDD foundations and building blocks. Open for public or for your company only.</p>
        <a href="https://blog.arkency.com/ddd-training/" class="mt-2 inline-block text-lg">Learn More</a>
      </div>
    </div>
    <div class="flex flex-wrap border-t border-gray-200 py-6 first:pb-6 first:pt-4 first:border-0 mb-24">
      <div class="w-full text-2xl font-bold sm:w-2/5">
        <h3>Full time help from Arkency</h3>
        <span class="block text-base uppercase text-gray-500 font-bold mt-2 mb-2">Ask for quote</span>
      </div>
      <div class="w-full text-xl sm:sm:w-3/5">
        <p class="mb-8">
          Minimum 2 experienced remote developers from Arkency on short-term or long-term contract.
        </p>
        <a href="mailto:res@arkency.com" class="mt-2 inline-block text-lg">Get in touch</a>
      </div>
    </div>

  </div>
</main>

<%= partial "partials/site_footer" %>
