---
title: Support
---

<div class="flex flex-wrap pb-12 pt-4">
  <div class="w-full sm:w-2/5">
    <h2>Community Help</h2>
    <span class="block text-sm uppercase text-grey font-bold">Free</span>
    <a href="/community" class="btn btn--ternary btn--small mt-6">Learn more</a>
  </div>
  <div class="w-full sm:w-3/5">
    <p>
      Rails Event Store has an active <a href="/community">community</a> of awesome contributors. They report encountered issues, propose and discuss possible improvements. Share what they've learned on blogs, meetups, conferences and strive to keep documentation comprehensive, up-to-date and on point.
    </p>
  </div>
</div>
<div class="flex flex-wrap border-t border-grey-lighter py-12">
  <div class="w-full sm:w-2/5">
    <h2>Domain-Driven Rails</h2>
    <span class="block text-sm uppercase text-grey font-bold">Starting from $49</span>
    <a href="https://blog.arkency.com/domain-driven-rails/" class="btn btn--ternary btn--small mt-6">Learn more</a>
  </div>
  <div class="w-full sm:w-3/5">
    <p>Struggling with complex Rails app and business domain? Domain-Driven Rails will help you:</p>
    <q class="block mt-4 italic">For a few years we’ve been studying Domain-Driven Design and applying its techniques in our projects. In Domain-Driven Rails we describe 11 techniques that you can use separately and together in new and old Rails apps to achieve better architecture. They were useful to us and we are sure they are going to be useful for you and your complex apps.</q>
  </div>
</div>
<div class="flex flex-wrap border-t border-grey-lighter py-12">
  <div class="w-full sm:w-2/5">
    <h2>Rails Event Store Mentoring</h2>
    <span class="block text-sm uppercase text-grey font-bold ">$2,000 / month</span>
    <a href="mailto:res@arkency.com" class="btn btn--ternary btn--small mt-6">Get in touch</a>
  </div>
  <div class="w-full sm:w-3/5">
    <p>
      3–month mentoring focused on initial development — first year of your project. Package includes code review and questions and answers calls every two weeks.
    </p>
  </div>
</div>
<div class="flex flex-wrap border-t border-grey-lighter py-12">
  <div class="w-full sm:w-2/5">
    <h2>Custom Feature Development</h2>
    <span class="block text-sm uppercase text-grey font-bold ">Ask for quote</span>
    <a href="mailto:res@arkency.com" class="btn btn--ternary btn--small mt-6">Get in touch</a>
  </div>
  <div class="w-full sm:w-3/5">
    <p>
      You ask for a missing Rails Event Store feature, we give you a fixed-price offer.
    </p>
  </div>
</div>
<div class="flex flex-wrap border-t border-grey-lighter py-12">
  <div class="w-full sm:w-2/5">
    <h2>One-shot Help</h2>
    <span class="block text-sm uppercase text-grey font-bold ">Ask for quote</span>
    <a href="mailto:res@arkency.com" class="btn btn--ternary btn--small mt-6">Get in touch</a>
  </div>
  <div class="w-full sm:w-3/5">
    <p>
      You're stuck with Rails Event Store — we can help. Price depends on the speed of our availability — we can fix something for you in a week or month.
    </p>
  </div>
</div>
<div class="flex flex-wrap border-t border-grey-lighter py-12">
  <div class="w-full sm:w-2/5">
    <h2>Legacy Rails/DDD Mentoring</h2>
    <span class="block text-sm uppercase text-grey font-bold ">Ask for quote</span>
    <a href="mailto:res@arkency.com" class="btn btn--ternary btn--small mt-6">Get in touch</a>
  </div>
  <div class="w-full sm:w-3/5">
    <p>6–month mentoring focused on existing apps — older than 2 years. Package includes code review and questions and answers calls every two weeks.    </p>
  </div>
</div>
<div class="flex flex-wrap border-t border-grey-lighter py-12">
  <div class="w-full sm:w-2/5">
    <h2 class="leading-tight">From Event Storming to an App</h2>
    <span class="block text-sm uppercase text-grey font-bold ">Ask for quote</span>
    <a href="mailto:res@arkency.com" class="btn btn--ternary btn--small mt-6">Get in touch</a>
  </div>
  <div class="w-full sm:w-3/5">
    <p>2–days workshop in your office or in Wrocław, Poland. 1st day consists on an Event Storming session on your domain and bootstraping an application. 2nd day focused on <a href="https://en.wikipedia.org/wiki/Mob_programming">mob programming</a> of a Rails application with Rails Event Store — implementing disovered Domain Events, Commands and Aggregates.</p>
  </div>
</div>
<div class="flex flex-wrap border-t border-grey-lighter py-12">
  <div class="w-full sm:w-2/5">
    <h2>Rails DDD Workshop</h2>
    <span class="block text-sm uppercase text-grey font-bold ">Ask for quote</span>
    <a href="https://blog.arkency.com/ddd-training/" class="btn btn--ternary btn--small mt-6">Learn More</a>
  </div>
  <div class="w-full sm:w-3/5">
    <p>2-days workshop focused on DDD foundations and building blocks. Open for public or for your company only.</p>
  </div>
</div>
<div class="flex flex-wrap border-t border-grey-lighter py-12">
  <div class="w-full sm:w-2/5">
    <h2>Full time help from Arkency</h2>
    <span class="block text-sm uppercase text-grey font-bold ">Ask for quote</span>
    <a href="mailto:res@arkency.com" class="btn btn--ternary btn--small mt-6">Get in touch</a>
  </div>
  <div class="w-full sm:w-3/5">
    <p>
      Minimum 2 experienced remote developers from Arkency on short-term or long-term contract.
    </p>
  </div>
</div>