---
title: Support
---

<div class="offer mt-6">
  <div class="offer__left">
    <h3 class="font-bold">Community Help</h3>
    <span class="offer__price">Free</span>
  </div>
  <div class="offer__right">
    <p>
      Rails Event Store has an active <a href="/community">community</a> of awesome contributors. They report encountered issues, propose and discuss possible improvements. Share what they've learned on blogs, meetups, conferences and strive to keep documentation comprehensive, up-to-date and on point.
    </p>
    <a href="/community" class="offer__cta">Learn more</a>
  </div>
</div>
<div class="offer">
  <div class="offer__left">
    <h3 class="font-bold">Domain-Driven Rails</h3>
    <span class="offer__price">Starting from $49</span>
  </div>
  <div class="offer__right">
    <p>Struggling with complex Rails app and business domain? Domain-Driven Rails will help you:</p>
    <blockquote>
      <p>For a few years we’ve been studying Domain-Driven Design and applying its techniques in our projects. In Domain-Driven Rails we describe 11 techniques that you can use separately and together in new and old Rails apps to achieve better architecture. They were useful to us and we are sure they are going to be useful for you and your complex apps.
      </p>
    </blockquote>
    <a href="https://blog.arkency.com/domain-driven-rails/" class="offer__cta">Learn more</a>
  </div>
</div>
<div class="offer">
  <div class="offer__left">
    <h3 class="font-bold">Rails Event Store Mentoring</h3>
    <span class="offer__price ">$2,000 / month</span>
  </div>
  <div class="offer__right">
    <p>
      3–month mentoring focused on initial development — first year of your project. Package includes code review and questions and answers calls every two weeks.
    </p>
    <a href="mailto:res@arkency.com" class="offer__cta">Get in touch</a>
  </div>
</div>
<div class="offer">
  <div class="offer__left">
    <h3 class="font-bold">Custom Feature Development</h3>
    <span class="offer__price ">Ask for quote</span>
  </div>
  <div class="offer__right">
    <p>
      You ask for a missing Rails Event Store feature, we give you a fixed-price offer.
    </p>
    <a href="mailto:res@arkency.com" class="offer__cta">Get in touch</a>
  </div>
</div>
<div class="offer">
  <div class="offer__left">
    <h3 class="font-bold">One-shot Help</h3>
    <span class="offer__price ">Ask for quote</span>
  </div>
  <div class="w-full sm:w-3/5">
    <p>
      You're stuck with Rails Event Store — we can help. Price depends on the speed of our availability — we can fix something for you in a week or month.
    </p>
    <a href="mailto:res@arkency.com" class="offer__cta">Get in touch</a>
  </div>
</div>
<div class="offer">
  <div class="offer__left">
    <h3 class="font-bold">Legacy Rails/DDD Mentoring</h3>
    <span class="offer__price ">Ask for quote</span>
  </div>
  <div class="offer__right">
    <p>6–month mentoring focused on existing apps — older than 2 years. Package includes code review and questions and answers calls every two weeks.</p>
    <a href="mailto:res@arkency.com" class="offer__cta">Get in touch</a>
  </div>
</div>
<div class="offer">
  <div class="offer__left">
    <h3 class="leading-tight">From Event Storming to an App</h3>
    <span class="offer__price ">Ask for quote</span>
  </div>
  <div class="offer__right">
    <p>2–days workshop in your office or in Wrocław, Poland. 1st day consists on an Event Storming session on your domain and bootstraping an application. 2nd day focused on <a href="https://en.wikipedia.org/wiki/Mob_programming">mob programming</a> of a Rails application with Rails Event Store — implementing disovered Domain Events, Commands and Aggregates.
    </p>
    <a href="mailto:res@arkency.com" class="offer__cta">Get in touch</a>
  </div>
</div>
<div class="offer">
  <div class="offer__left">
    <h3 class="font-bold">Rails DDD Workshop</h3>
    <span class="offer__price ">Ask for quote</span>
  </div>
  <div class="offer__right">
    <p>2-days workshop focused on DDD foundations and building blocks. Open for public or for your company only.</p>
    <a href="https://blog.arkency.com/ddd-training/" class="offer__cta">Learn More</a>
  </div>
</div>
<div class="offer mb-24">
  <div class="offer__left">
    <h3 class="font-bold">Full time help from Arkency</h3>
    <span class="offer__price ">Ask for quote</span>
  </div>
  <div class="offer__right">
    <p>
      Minimum 2 experienced remote developers from Arkency on short-term or long-term contract.
    </p>
    <a href="mailto:res@arkency.com" class="offer__cta">Get in touch</a>
  </div>
</div>