!/log/.keep
!/storage/.keep
!/tmp/.keep
.byebug_history
.yarn-integrity
/.bundle
/config/master.key
/db/*.sqlite3
/db/*.sqlite3-journal
/elm-stuff
/log/*
/node_modules
/public/assets
/public/packs
/public/packs-test
/storage/*
/tmp/*
/yarn-error.log
coverage
yarn-debug.log*
