table {
  @apply my-10 w-full text-left table-fixed border-collapse;
}

thead {
  @apply align-bottom leading-tight;
}

tbody {
  @apply align-top;
}

th {
  @apply border-gray-400 border-b;
}

th {
  font-size: 0.75rem;
  @apply text-gray-500 uppercase p-0 pb-4;
}

td {
  @apply p-0 pt-2;
}

tfoot td {
  font-size: 0.75rem;
  @apply text-gray-500 p-0 pb-4;
}

html {
  @apply text-gray-800 font-sans leading-relaxed antialiased;
}

body {
  font-size: 1rem;
}

hr {
  @apply border-gray-400 border-b m-4;
}

a {
  @apply text-red-700;
}

.frame {
  @apply bg-gray-100 min-h-screen w-full;
}

.frame__body {
  @apply bg-white;
}

.navigation {
  @apply flex bg-red-700 px-8 h-16;
}

.navigation__brand {
  @apply flex items-center;
}

.navigation__links {
  @apply flex-1;
}

.navigation__go-to-stream {
  @apply flex items-center;
}

.navigation__go-to-stream input {
  @apply rounded px-4 py-2;
}

.navigation__logo {
  @apply text-gray-100 font-semibold;
}

.footer {
  @apply border-gray-400 border-t py-4;
}

.footer__links {
  font-size: 0.875rem;
  @apply flex justify-center text-gray-500;
}

.footer__link {
  @apply text-gray-500 ml-4;
}

.footer__link:before {
  content: "•";

  @apply font-bold text-gray-300 inline-block mr-4;
}

.browser {
  @apply py-8;
}

.browser__title {
  font-size: 1.375rem;
  @apply font-bold px-8;
}

.browser__pagination {
  @apply px-8;
}

.browser__results {
  @apply px-8;
}

.event {
  @apply py-12;
}

.event__title,
.event__missing {
  font-size: 1.375rem;
  @apply font-bold px-8;
}

.event__body {
  @apply px-8;
}

.event__related-streams {
  @apply px-8;
}

.event__related-streams h2 {
  font-size: 1.25rem;
  @apply font-bold;
}

.event__related-streams ul {
  @apply list-disc pl-8;
}

.event__caused-events {
  @apply px-8 mt-8;;
}

.event__caused-events h2 {
  font-size: 1.25rem;
  @apply font-bold;
}

.event__stream-link,
.event__event-link {
  @apply no-underline;
}

.pagination {
  @apply flex;
}

.pagination__page {
  font-size: 0.9rem;
  @apply text-center border-red-700 text-red-700 border rounded px-2 py-1 mr-1;
}

.pagination__page:disabled {
  @apply opacity-50 cursor-not-allowed;
}

.results {
}

.results__link {
  @apply no-underline;
}

.results__empty {
  @apply flex items-center justify-center;
  min-height: 12.5rem;
}

.central-spinner {
  @apply flex items-center justify-center;
}
