html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}

figure {
  margin: 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  margin: 1.5em 0;
  table-layout: fixed;
  text-align: left;
  width: 100%;
}

thead {
  line-height: 1.2;
  vertical-align: bottom;
}

tbody {
  vertical-align: top;
}

th {
  @apply border-gray-400 border-b;
}

th {
  padding: 0 0 0.75rem 0;
  text-transform: uppercase;
  font-size: 1.2rem;

  @apply text-gray-500;
}

td {
  padding: 0.75rem 0 0 0;
}

tfoot td {
  padding: 0 0 0.75rem 0;
  font-size: 1.2rem;

  @apply text-gray-500;
}

html {
  @apply text-gray-800 font-sans;
  font-size: 62.5%;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 1.6rem;
}

hr {
  @apply border-gray-400 border-b m-4;
}

a {
  @apply text-red-700;
}

@import "components/frame";
@import "components/navigation";
@import "components/footer";
@import "components/browser";
@import "components/event";
@import "components/pagination";
@import "components/results";
