@import "vendor/neat";

@import "base/reset";
@import "base/variables";
@import "base/layout";
@import "base/forms";
@import "base/buttons";
@import "base/lists";
@import "base/media";
@import "base/tables";
@import "base/typography";

@import "components/frame";
@import "components/navigation";
@import "components/footer";
@import "components/browser";
@import "components/event";
@import "components/pagination";
@import "components/results";

.u-align-right {
  text-align: right;
}
