$browser-layout: (columns: 2);

.browser {
  @include grid-container;
  padding: 2rem 0;
}

.browser__title {
  @include grid-column(2, $browser-layout);
  font-size: 2.2rem;
}

.browser__pagination {
  @include grid-column(2, $browser-layout);
}

.browser__results {
  @include grid-column(2, $browser-layout);
}
