.pagination {
  display: flex;
  justify-content: flex-end;
  margin-bottom: $small-spacing;
}

.pagination__page {
  height: 3.6rem;
  width: 4.2rem;
  background: none;
  border: $base-border;
  text-align: center;
  padding: 0;
  border-radius: 0;
  border-right: none;
  color: $oc-gray-7;
}

.pagination__page--previous {
  border-top-left-radius: $base-border-radius;
  border-bottom-left-radius: $base-border-radius;
}

.pagination__page--next {
  border-right: 1px solid $oc-gray-5;
  border-top-right-radius: $base-border-radius;
  border-bottom-right-radius: $base-border-radius;
}

.pagination__page--current {
}
