<h4 class="mb-1 uppercase tracking-tight font-semibold text-gray-600">
  Getting started
</h4>
<ul class="whitespace-nowrap mb-8 leading-snug">
</ul>
<h4 class="mb-1 uppercase tracking-tight font-semibold text-gray-600">
  Core concepts
</h4>
<ul class="whitespace-nowrap mb-8 leading-snug">
</ul>
<h4 class="mb-1 uppercase tracking-tight font-semibold text-gray-600">
  Advanced topics
</h4>
<ul class="whitespace-nowrap mb-8 leading-snug">
  <li><%= sidebar_link_to "Event serialization formats", "/docs/v3/serialization/" %></li>
</ul>
<h4 class="mb-1 uppercase tracking-tight font-semibold text-gray-600">
  Common usage patterns
</h4>
<ul class="whitespace-nowrap mb-8 leading-snug">
</ul>