<div class="py-24 px-4 text-gray-400">
  <h1 class="tk-league-gothic uppercase font-normal mb-6 text-gray-600 text-5xl sm:text-6xl">Rails Event Store</h1>
  <p class="text-lg mb-12 text-gray-500 sm:text-2xl">
    The open-source implementation of an Event Store for Ruby and Rails
  </p>

  <%= link_to "Get Started", "/docs/v1/start/", class: "btn btn--primary btn--large" %>
  <%= link_to "Get Support", "/support/", class: "btn btn--secondary btn--large" %>
</div>
