<div class="py-24 text-center text-grey-lighter">
  <h1 class="tk-league-gothic uppercase font-normal mb-6 text-7xl ">Rails Event Store</h1>
  <p class="text-2xl mb-12">
    The open-source implementation of an Event Store for Ruby and Rails
  </p>

  <%= link_to "Get Started", "/docs/install/", class: "btn btn--primary btn--large" %>
  <%= link_to "Get Support", "/support/", class: "btn btn--secondary btn--large" %>
</div>
