<div class="py-24 px-4 text-grey-lighter">
  <h1 class="tk-league-gothic uppercase font-normal mb-6 text-grey-darker text-4xl sm:text-5xl">Rails Event Store</h1>
  <p class="text-lg mb-12 text-grey sm:text-2xl">
    The open-source implementation of an Event Store for Ruby and Rails
  </p>

  <%= link_to "Get Started", "/docs/start/", class: "btn btn--primary btn--large" %>
  <%= link_to "Get Support", "/support/", class: "btn btn--secondary btn--large" %>
</div>
