<div class="site-hero">
  <h1 class="site-hero__title">Rails Event Store<h1>
  <p class="site-hero__copy">
    The open-source implementation of an Event Store for Ruby and Rails
  </p>
  <%= link_to "Get Started", "/docs/install/", class: "site-hero__cta" %>
</div>
