<footer class="site-footer" role="contentinfo">
  <ul class="u-flex
             u-flex-nowrap
             u-flex-justify-center">
    <li><%= link_to "GitHub", "https://github.com/RailsEventStore", class: "site-footer__link" %></li>
    <li><%= link_to "RubyGems", "https://rubygems.org/gems/rails_event_store", class: "site-footer__link" %></li>
  </ul>
</footer>
