<div class="site-section px-4 h-16 flex items-center">
  <h1 class="site-section__title text-xl font-normal"><%= title %></h1>
  <% if subtitle %>
    <h2 class="site-section__subtitle text-base"><%= subtitle %></h2>
  <% end %>
</div>
