<nav class="site-navigation
            u-flex
            u-flex-align-items-center
            u-flex-justify-space-between">
  <%= link_to "Rails Event Store", "/", class: "site-navigation__site-name" %>

  <div class="u-flex u-flex-nowrap">
    <%= link_to "Documentation", "/docs/install", class: "site-navigation__link" %>
    <%= link_to "Support", "/support", class: "site-navigation__link" %>
    <%= link_to "Contributing", "/contributing", class: "site-navigation__link" %>
  </div>
</nav>
