<header class="bg-gray-900 sticky top-0">
  <div class="container mx-auto">
    <nav class="-mr-4 h-[4.375rem] px-4 items-center overflow-x-auto text-xl flex flex-wrap items-center justify-between">
      <%= link_to "Rails Event Store", "/", class: "text-red-600 tracking-wide bg-none opacity-95" %>
      <div class="w-full block grow items-end md:flex md:justify-end md:w-auto">
        <% { "Community"     => "/community",
             "Support"       => "/support",
             "Documentation" => "/docs/#{version}/install",
             "Changelog"     => "https://github.com/RailsEventStore/rails_event_store/releases/tag/v#{config[:res_version]}"
            }.each do |name, url| %>
          <%= link_to name, url, class: %w[block mr-4 font-normal text-gray-500 bg-none hover:text-red-200 active:text-white focus:text-white] %>
       <% end %>
      </div>
    </nav>
  </div>
</header>
