<% selected = lambda { |actual, expected| actual == expected ? %Q|selected="selected"| : nil }%>

<script type="text/javascript" defer>
  function navigate() {
    var select = document.getElementById("versionSelect");
    window.location.href = "/docs/" + select.options[select.selectedIndex].value + "/install";
  }
</script>

<div class="relative inline-block">
  <select id="versionSelect" class="appearance-none focus:outline-none text-xs leading-5 font-semibold bg-slate-400/10 rounded-full py-1 pl-3 pr-7 flex items-center space-x-2 hover:bg-slate-400/20" onchange="navigate();">
    <option value="v1" <%= selected[version, "v1"] %>>v<%= config[:res_version_v1] %></option>
    <option value="v2" <%= selected[version, "v2"] %>>v<%= config[:res_version_v2] %></option>
  </select>

  <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600">
    <svg class="fill-current h-3 w-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757
 6.586 4.343 8z"></path>
    </svg>
  </div>
</div>