html {
  @apply text-gray-800 font-sans;
  font-size: 62.5%;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 1.6rem;
}

hr {
  @apply border-gray-400 border-b m-4;
}

a {
  @apply text-red-700;
}