.site-navigation {
  @apply -mr-4 py-4 px-4 items-center overflow-x-auto text-xl flex flex-wrap items-center justify-between;
  -webkit-overflow-scrolling: touch;
}

.site-navigation__title {
  @apply font-bold text-red;
  background: none;
}

.site-navigation__link {
  @apply block mr-4 font-normal text-grey;
  background: none;
}

.site-navigation__link:hover {
  @apply text-red-lighter;
}

.site-navigation__link:active,
.site-navigation__link:focus {
  @apply text-white;
}

.site-navigation__link--external {
  @apply text-grey-darkest;
}
