@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply font-semibold text-gray-800 no-underline bg-[linear-gradient(180deg, transparent 70%, rgba(255, 107, 107, 0.4) 0)];
}

::selection {
  @apply bg-red-100;
}

.documentation pre {
  @apply rounded px-2 py-2;
  margin-bottom: 30px;
  background-color: rgba(247, 247, 247, 1);
}

.documentation code {
  @apply rounded font-mono text-sm leading-normal;
  color: #586e75;
}

.documentation pre >  .documentation code {
  @apply bg-none overflow-x-auto block;
}

.documentation :not(pre) > .documentation code {
  @apply px-2 py-1;
  background-color: rgba(247, 247, 247, 1);
}

.documentation h1 {
  @apply tracking-tight font-bold;
  font-size: 47px;
  line-height: 60px;
  padding-top: 14px;
  margin-bottom: 16px;
}

.documentation h2 {
  @apply tracking-tight font-bold;
  font-size: 36px;
  line-height: 60px;
  padding-top: 18px;
  margin-bottom: 12px;
}

.documentation h3 {
  @apply font-bold;
  font-size: 27px;
  line-height: 30px;
  padding-top: 6px;
  margin-bottom: 24px;
}

.documentation h4 {
  @apply font-bold;
  font-size: 20px;
  line-height: 30px;
  padding-top: 8px;
  margin-bottom: 22px;
}

.documentation p {
  font-size: 20px;
  line-height: 30px;
  padding-top: 8px;
  margin-bottom: 22px;
}

.documentation li {
  font-size: 20px;
  line-height: 30px;
  padding-top: 8px;
  margin-bottom: -8px;
}

.documentation ul {
  margin-bottom: 30px;
}

.documentation ul {
  @apply list-disc pl-4;
}

.documentation table {
  @apply block mb-4;
}

.documentation table * {
  @apply border p-2;
}

.documentation table th {
  @apply font-bold text-left;
}

.documentation :target {
  scroll-margin-top: 4.375rem;
}

.documentation li ul {
  margin-bottom: 0;
}