@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 20px;
}

h1 {
  @apply tracking-tight font-bold;
  font-size: 47px;
  line-height: 60px;
  padding-top: 14px;
  margin-bottom: 16px;
}

h2 {
  @apply tracking-tight font-bold;
  font-size: 36px;
  line-height: 60px;
  padding-top: 18px;
  margin-bottom: 12px;
}

h3 {
  @apply font-bold;
  font-size: 27px;
  line-height: 30px;
  padding-top: 6px;
  margin-bottom: 24px;
}

h4 {
  @apply font-bold;
  font-size: 20px;
  line-height: 30px;
  padding-top: 8px;
  margin-bottom: 22px;
}

p {
  font-size: 20px;
  line-height: 30px;
  padding-top: 8px;
  margin-bottom: 22px;
}

li {
  font-size: 20px;
  line-height: 30px;
  padding-top: 8px;
  margin-bottom: -8px;
}

ul {
  margin-bottom: 30px;
}

li ul {
  margin-bottom: 0;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.bg-gradient {
  background-image: linear-gradient(
    180deg,
    transparent 70%,
    rgba(255, 107, 107, 0.4) 0
  );
}

a {
  @apply font-semibold text-gray-800 no-underline bg-gradient;
}

blockquote {
  @apply text-gray-700 border-l-4 pl-4;
}

::selection {
  @apply bg-red-100;
}

pre {
  @apply rounded px-2 py-2;
  margin-bottom: 30px;
  background-color: rgba(247, 247, 247, 1);
}

code {
  @apply rounded font-mono text-xs leading-normal;
  color: #586e75;
}

pre > code {
  @apply bg-none scrolling-touch overflow-x-auto block;
}

:not(pre) > code {
  @apply px-2 py-1;
  background-color: rgba(247, 247, 247, 1);
}

.hero__title {
  font-size: 5rem;
}

.btn {
  @apply inline-block rounded;
  background-image: none;
}

.btn:hover {
  transition: all 0.5s ease;
}

.btn--primary {
  @apply bg-red-600 text-red-200 border-2 border-red-600;
}

.btn--primary:hover {
  @apply bg-red-700 border-red-700;
}

.btn--secondary {
  @apply text-gray-500 border-2 border-gray-200 text-red-600;
}

.btn--secondary:hover {
  @apply text-red-600 border-red-700;
}

.btn--ternary {
  @apply text-red-500 font-semibold border-red-500 border uppercase;
  background: none;
}

.btn--ternary:hover {
  @apply text-white bg-red-500 font-semibold border-red-500 border uppercase;
}

.btn--small {
  @apply text-sm py-2 px-3;
}

.btn--large {
  @apply text-lg py-4 px-6;
}

.frame {
  @apply w-full min-h-screen flex flex-col items-stretch;
}

.frame__header {
  @apply bg-gray-900;
  opacity: 0.95;
}

.frame__section {
  @apply bg-gray-200;
}

.frame__footer {
  @apply bg-gray-200;
}

.frame__body {
  @apply flex-grow;
}

.frame__sidebar a {
  @apply bg-none text-gray-700;
}

.frame__sidebar a[aria-current] {
  @apply font-bold text-gray-800;
}

.frame__sidebar a:hover {
  @apply bg-gradient text-gray-800;
}

.site-footer {
  text-align: center;
}

.site-footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-footer__link {
  @apply text-gray-500;
  background: transparent;
  border-bottom: none;
  font-weight: normal;
}

.site-footer__link:hover {
  @apply text-red-200;
  background: inherit;
  border-bottom: none;
}

.site-footer__link:active,
.site-footer__link:focus {
  @apply text-white;
  background: inherit;
  border-bottom: none;
  outline: none;
}

.site-navigation {
  @apply -mr-4 py-4 px-4 items-center overflow-x-auto text-base flex flex-wrap items-center justify-between;
  -webkit-overflow-scrolling: touch;
}

.site-navigation__title {
  @apply text-red-600 tracking-wide;
  background: none;
  opacity: 0.95;
}

.site-navigation__link {
  @apply block mr-4 font-normal text-gray-500;
  background: none;
}

.site-navigation__link:hover {
  @apply text-red-200;
}

.site-navigation__link:active,
.site-navigation__link:focus {
  @apply text-white;
}

.site-navigation__link--external {
  @apply text-gray-700 font-bold text-sm tracking-tight;
}

.site-navigation__links {
  @apply w-full block flex-grow items-end;
}

@screen md {
  .site-navigation__links {
    @apply flex justify-end w-auto;
  }
}

.offer {
  @apply flex flex-wrap border-t border-gray-200 py-6;
}

.offer:first-child {
  @apply pb-6 pt-4 border-0;
}

.offer__left {
  @apply w-full;
}

.offer__right {
  @apply w-full;
}

.offer__price {
  @apply block text-sm uppercase text-gray-500 font-bold -mt-4 mb-2;
}

.offer__cta {
  @apply mt-6;
}

@screen sm {
  .offer__left {
    @apply w-2/5;
  }

  .offer__right {
    @apply w-3/5;
  }
}

.debug {
  background: linear-gradient(
    to bottom,
    rgba(32, 160, 255, 0.35) 1px,
    transparent 1px
  );
  background-size: 100% 30px;
}

.algolia-autocomplete {
  width: 100%;
}

table {
  @apply block w-full overflow-auto;

  & th {
    @apply font-bold;
  }

  & th,
  & td {
    @apply border border-gray-500 px-2 py-2;
  }

  & tr {
    @apply bg-white border-t border-gray-500;

    &:nth-child(2n) {
      @apply bg-gray-100;
    }
  }

  & tr:last-child {
    @apply border-b border-gray-500;
  }

  & img {
    background-color: transparent;
  }
}
