@import "tailwindcss/preflight";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "solarized.css";

html {
  font-size: 20px;
}

a {
  @apply font-semibold text-grey-darkest no-underline;
  background-image: linear-gradient(
    180deg,
    transparent 70%,
    rgba(255, 107, 107, 0.4) 0
  );
}

::selection {
  @apply bg-red-lightest;
}

pre {
  @apply text-sm py-2 px-4 -mx-4 bg-grey-lightest rounded;
  tab-size: 2;
  margin-bottom: 0.63rem;
}

code {
  @apply rounded font-mono;
}

:not(pre) > code {
  @apply text-sm leading-none text-grey-darker bg-grey-lightest py-1 px-2;
}

pre > code {
  @apply inline-block overflow-x-auto;
  -webkit-overflow-scrolling: touch;
  padding-top: 0.438rem;
}

.btn {
  @apply inline-block rounded;
  background-image: none;
}

.btn:hover {
  transition: all 0.5s ease;
}

.btn--primary {
  @apply bg-red text-grey-lighter border-2 border-red bg-red;
}

.btn--primary:hover {
  @apply bg-red-dark border-red-dark;
}

.btn--secondary {
  @apply text-grey border-2 border-grey-darkest;
}

.btn--secondary:hover {
  @apply text-red border-red-dark;
}

.btn--ternary {
  @apply text-red font-semibold border-red border uppercase;
  background: none;
}

.btn--ternary:hover {
  @apply text-white bg-red font-semibold border-red border uppercase;
}

.btn--small {
  @apply text-sm py-2 px-3;
}

.btn--large {
  @apply text-xl py-4 px-6;
}

.frame {
  @apply w-full min-h-screen flex flex-col items-stretch;
}

.frame__header {
  @apply bg-black;
}

.frame__section {
  @apply bg-grey-darkest;
}

.frame__footer {
  @apply bg-grey-lighter;
}

.frame__body {
  @apply py-12;
  flex-grow: 1;
}

.frame__sidebar a {
  background-image: none;
  transition: all 0.15s ease;
  @apply block rounded font-normal -ml-2 px-2 py-1;
}

.frame__sidebar a[aria-current] {
  @apply font-bold;
}

.frame__sidebar a:hover {
  @apply bg-red-lightest;
}

.contribute__contributors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0 -10px;
}

.contributor {
  width: 80px;
  height: 80px;
  margin: 8px;
}

.contributor__avatar {
  border-radius: 5px;
}

.contributor__link {
  border-bottom: none;
  border-radius: 5px;
  background-color: var(--oc-red-2);
  display: inline-block;
  line-height: 0;
}

.contributor__link:hover .contributor__avatar,
.contributor__link:focus .contributor__avatar,
.contributor__link:active .contributor__avatar {
  background-image: none;
  filter: grayscale(100%);
  opacity: 0.5;
}

.site-footer {
  text-align: center;
}

.site-footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-footer__link {
  @apply text-grey;
  margin: 0 1rem;
  background: transparent;
  border-bottom: none;
  font-weight: normal;
}

.site-footer__link:hover {
  @apply text-red-lighter;
  background: inherit;
  border-bottom: none;
}

.site-footer__link:active,
.site-footer__link:focus {
  @apply text-white;
  background: inherit;
  border-bottom: none;
  outline: none;
}

.site-navigation {
  @apply -mr-4 py-4 px-4 items-center overflow-x-auto text-base flex flex-wrap items-center justify-between;
  -webkit-overflow-scrolling: touch;
}

.site-navigation__title {
  @apply font-bold text-red;
  background: none;
}

.site-navigation__link {
  @apply block mr-4 font-normal text-grey;
  background: none;
}

.site-navigation__link:hover {
  @apply text-red-lighter;
}

.site-navigation__link:active,
.site-navigation__link:focus {
  @apply text-white;
}

.site-navigation__link--external {
  @apply text-grey-darkest tracking-tight;
}

.site-navigation__links {
  @apply w-full block flex-grow;
}

@screen md {
  .site-navigation__links {
    @apply flex justify-end w-auto;
  }
}

.stats {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--oc-gray-1);
}

.stats__stat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.stat__title {
  text-align: center;
  font-weight: normal;
  order: 2;
  margin-top: 0;
  color: var(--oc-gray-7);
}

.stat__value {
  text-align: center;
  order: 1;
  color: var(--oc-gray-5);
}

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid darken(var(--oc-gray-3), 15%);
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left;
}

td {
  border-bottom: 1px solid var(--oc-gray-3);
  padding: 0.75em 0;
}

tr,
td,
th {
  vertical-align: middle;
}

.offer {
  @apply flex flex-wrap border-t border-grey-lighter py-12;
}

.offer:first-child {
  @apply pb-12 pt-4 border-0;
}

.offer__left {
  @apply w-full;
}

.offer__right {
  @apply w-full;
}

.offer__price {
  @apply block text-sm uppercase text-grey font-bold;
}

.offer__cta {
  @apply btn btn--ternary btn--small mt-6;
}

@screen sm {
  .offer__left {
    @apply w-2/5;
  }

  .offer__right {
    @apply w-3/5;
  }
}

.docs h1 {
  font-size: 2.38rem;
  line-height: 3rem;
  padding-top: 0.6875rem;
  margin-bottom: 0.8125rem;
  @apply tracking-tight font-semibold;
}

.docs h2 {
  font-size: 1.75rem;
  line-height: 3rem;
  padding-top: 0.875rem;
  margin-bottom: 0.625rem;
  @apply tracking-tight font-semibold;
}

.docs h3 {
  font-size: 1.31rem;
  line-height: 1.5rem;
  padding-top: 0.3125rem;
  margin-bottom: 1.875rem;
}

.docs h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  padding-top: 0.438rem;
  margin-bottom: 1.06rem;
}

.docs p {
  font-size: 1rem;
  line-height: 1.5rem;
  padding-top: 0.438rem;
  margin-bottom: 1.06rem;
}

.company__logo {
  filter: grayscale(100%);
  opacity: 0.25;
}

.visual-debug {
  background: linear-gradient(
    to bottom,
    rgba(32, 160, 255, 0.35) 1px,
    transparent 1px
  );
  background-size: 100% 24px;
}

.algolia-autocomplete {
  width: 100%;
}
