$footer-layout: (columns: 1);

.footer {
  @include grid-container;
  border-top: $base-border;
  padding: 1rem 0;
}

.footer__links {
  @include grid-column(1, $footer-layout);
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  color: $oc-gray-5;
}

.footer__link {
  margin: 0 0 0 1rem;
  color: $oc-gray-5;

  &:before {
    content: "•";
    font-weight: bold;
    margin: 0 1rem 0 0;
    color: $oc-gray-3;
    display: inline-block;
  }
}
