<!DOCTYPE html>
<html>
  <head>
    <title>RailsEventStore::Browser</title>
    <%= stylesheet_link_tag "rails_event_store/browser/application", media: "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= javascript_include_tag "rails_event_store/browser/application" %>
  </body>
</html>