<% wrap_layout :base do %>
  <header class="frame__section">
    <div class="container mx-auto">
      <%= partial "partials/site_section", locals: { title: "Documentation" , subtitle: nil } %>
    </div>
  </header>

  <main class="frame__body" role="main">
    <div class="container mx-auto px-4 flex flex-wrap -mx-2">
      <nav class="frame__sidebar w-full md:w-1/4 px-4">
        <%= partial "partials/documentation_nav" %>
      </nav>

      <div class="frame__main w-full md:w-3/4 docs text-base px-4">
        <%= yield %>
      </div>
    </div>
  </main>

  <style>
    .anchorjs-link, .anchorjs-link:hover, .anchorjs-link:active {
      background: none;
      text-decoration: none;
      border: none;
      color: #adb5bd;
    }
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.1/anchor.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function(event) {
      anchors.add('.docs h2, .docs h3');
    });
</script>
<% end %>
