<% wrap_layout :base do %>
  <%= partial "partials/hero" %>

  <main>
    <div class="container mx-auto px-4">
      <%= yield %>
    </div>
  </main>
  
  <%= partial "partials/site_footer" %>
<% end %>
