<% wrap_layout :base do %>
  <header class="frame__section">
    <div class="container mx-auto">
      <%= partial "partials/site_section", locals: { title: current_page.data.title, subtitle: nil } %>
    </div>
  </header>

  <main class="frame__body" role="main">
    <div class="container mx-auto px-4 text-xl text-grey-darker leading-normal">
      <%= yield %>
    </div>
  </main>
<% end %>
