a {
  color: $base-font-color;
  font-weight: $font-weight-semibold;
  text-decoration: none;

  background-image: linear-gradient(
    180deg,
    transparent 70%,
    rgba($oc-red-5, 0.4) 0
  );

  &:hover {
  }

  &:active,
  &:focus {
    outline: none;
  }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: ($base-spacing * 2) auto;
  width: 75%;

  @media (min-width: $md) {
    margin: ($base-spacing * 4) auto;
  }
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

code {
  background-color: rgba(#000, 0.03);
  border-radius: $base-border-radius;
  font-family: $monospace-font-family;
  font-size: 0.875em;
  margin: 0.5rem 0 1.25rem 0;

  :not(pre) > & {
    margin: 0 0.125em;
    padding: 0.1875em 0.375em;
  }
}

pre {
  tab-size: 2;

  > code {
    display: block;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    padding: 0.75em;
  }
}

::selection {
  background-color: $oc-red-0;
}
