name: aggregate_root_coverage
on:
  workflow_dispatch:
  repository_dispatch:
    types:
    - script
  push:
    paths:
    - aggregate_root/Gemfile.lock
    - ".github/workflows/aggregate_root_coverage.yml"
    - support/**
    - "!support/bundler/**"
    - "!support/ci/**"
  pull_request:
    types:
    - opened
    - reopened
    paths:
    - aggregate_root/Gemfile.lock
    - ".github/workflows/aggregate_root_coverage.yml"
    - support/**
    - "!support/bundler/**"
    - "!support/ci/**"
  schedule:
  - cron: 0 17 * * *
jobs:
  coverage:
    runs-on: ubuntu-latest
    timeout-minutes: 120
    env:
      WORKING_DIRECTORY: aggregate_root
      RUBY_VERSION: "${{ matrix.ruby_version }}"
      BUNDLE_GEMFILE: "${{ matrix.bundle_gemfile }}"
    strategy:
      fail-fast: false
      matrix:
        include:
        - ruby_version: ruby-3.4
          bundle_gemfile: Gemfile
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 1
    - run: test -e ${{ env.BUNDLE_GEMFILE }}.lock
      working-directory: "${{ env.WORKING_DIRECTORY }}"
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: "${{ env.RUBY_VERSION }}"
        bundler-cache: true
        working-directory: "${{ env.WORKING_DIRECTORY }}"
    - run: make mutate
      working-directory: "${{ env.WORKING_DIRECTORY }}"
      env:
        RUBYOPT: "--enable-frozen-string-literal"