name: coverage
on:
  schedule:
    - cron: "0 17 * * *"
  workflow_dispatch:
jobs:
  coverage:
    runs-on: ubuntu-20.04
    timeout-minutes: 120
    env:
      BUNDLE_GEMFILE: Gemfile
    strategy:
      fail-fast: false
      matrix:
        include:
          - gem: aggregate_root
          - gem: bounded_context
          - gem: rails_event_store_active_record
          - gem: ruby_event_store-rspec
          - gem: rails_event_store
          - gem: ruby_event_store-browser
          - gem: ruby_event_store
    steps:
      - uses: actions/checkout@v2
      - run: test -e Gemfile.lock
        working-directory: ${{ matrix.gem }}
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ruby-2.7
          bundler-cache: true
          working-directory: ${{ matrix.gem }}
      - run: make mutate
        working-directory: ${{ matrix.gem }}
