name: rails_event_store_test
on:
  workflow_dispatch:
  repository_dispatch:
    types:
    - script
  push:
    paths:
    - aggregate_root/**
    - rails_event_store/**
    - ruby_event_store/**
    - ruby_event_store-active_record/**
    - ruby_event_store-browser/**
    - ruby_event_store-rspec/**
    - ".github/workflows/rails_event_store_test.yml"
    - support/**
    - "!support/bundler/**"
    - "!support/ci/**"
  pull_request:
    types:
    - opened
    - reopened
    paths:
    - aggregate_root/**
    - rails_event_store/**
    - ruby_event_store/**
    - ruby_event_store-active_record/**
    - ruby_event_store-browser/**
    - ruby_event_store-rspec/**
    - ".github/workflows/rails_event_store_test.yml"
    - support/**
    - "!support/bundler/**"
    - "!support/ci/**"
jobs:
  test:
    runs-on: ubuntu-20.04
    timeout-minutes: 120
    env:
      WORKING_DIRECTORY: rails_event_store
      RUBY_VERSION: "${{ matrix.ruby_version }}"
      BUNDLE_GEMFILE: "${{ matrix.bundle_gemfile }}"
    strategy:
      fail-fast: false
      matrix:
        include:
        - ruby_version: ruby-3.3
          bundle_gemfile: Gemfile
        - ruby_version: ruby-3.2
          bundle_gemfile: Gemfile
        - ruby_version: ruby-3.1
          bundle_gemfile: Gemfile
        - ruby_version: ruby-3.3
          bundle_gemfile: Gemfile.rails_7_1
        - ruby_version: ruby-3.3
          bundle_gemfile: Gemfile.rails_7_0
        - ruby_version: ruby-3.3
          bundle_gemfile: Gemfile.rails_6_1
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 1
    - run: test -e ${{ env.BUNDLE_GEMFILE }}.lock
      working-directory: "${{ env.WORKING_DIRECTORY }}"
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: "${{ env.RUBY_VERSION }}"
        bundler-cache: true
        working-directory: "${{ env.WORKING_DIRECTORY }}"
    - run: make test
      working-directory: "${{ env.WORKING_DIRECTORY }}"
      env:
        RUBYOPT: "--enable-frozen-string-literal"