name: ruby_event_store-sidekiq_scheduler_coverage
on:
  schedule:
    - cron: "0 17 * * *"
  workflow_dispatch:
  push:
    paths:
      - "contrib/ruby_event_store-sidekiq_scheduler/**"
      - ".github/workflows/ruby_event_store-sidekiq_scheduler_coverage.yml"
      - "support/**"
  pull_request:
    types: [ opened, reopened ]
    paths:
      - "contrib/ruby_event_store-sidekiq_scheduler/**"
      - ".github/workflows/ruby_event_store-sidekiq_scheduler_coverage.yml"
      - "support/**"
jobs:
  coverage:
    runs-on: ubuntu-20.04
    timeout-minutes: 120
    env:
      WORKING_DIRECTORY: contrib/ruby_event_store-sidekiq_scheduler
      BUNDLE_GEMFILE: Gemfile
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - run: test -e ${{ env.BUNDLE_GEMFILE }}.lock
        working-directory: ${{ env.WORKING_DIRECTORY }}
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ruby-3.0
          bundler-cache: true
          working-directory: ${{ env.WORKING_DIRECTORY }}
      - run: make mutate
        working-directory: ${{ env.WORKING_DIRECTORY }}
