name: ruby_event_store-sidekiq_scheduler_mutate
on:
  workflow_dispatch:
  repository_dispatch:
    types:
    - script
  push:
    branches:
    - master
    paths:
    - contrib/ruby_event_store-sidekiq_scheduler/**
    - ".github/workflows/ruby_event_store-sidekiq_scheduler_mutate.yml"
    - support/**
    - "!support/bundler/**"
    - "!support/ci/**"
  pull_request:
    paths:
    - contrib/ruby_event_store-sidekiq_scheduler/**
    - ".github/workflows/ruby_event_store-sidekiq_scheduler_mutate.yml"
    - support/**
    - "!support/bundler/**"
    - "!support/ci/**"
jobs:
  mutate:
    runs-on: macos-14
    timeout-minutes: 120
    env:
      WORKING_DIRECTORY: contrib/ruby_event_store-sidekiq_scheduler
      RUBY_VERSION: "${{ matrix.ruby_version }}"
      BUNDLE_GEMFILE: "${{ matrix.bundle_gemfile }}"
      BUNDLE_WITHOUT: database
    strategy:
      fail-fast: false
      matrix:
        include:
        - ruby_version: ruby-3.4
          bundle_gemfile: Gemfile
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - uses: cachix/install-nix-action@v25
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - uses: cachix/cachix-action@v14
      with:
        name: railseventstore
        authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
    - run: test -e ${{ env.BUNDLE_GEMFILE }}.lock
      working-directory: "${{ env.WORKING_DIRECTORY }}"
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: "${{ env.RUBY_VERSION }}"
        bundler-cache: true
        working-directory: "${{ env.WORKING_DIRECTORY }}"
    - run: |
        nix-shell --run "make mutate-changes" -E"
          with import <nixpkgs> { };
          mkShell {
            inputsFrom = [
              (import ../../support/nix/redis.nix)
            ];
          }
        "
      working-directory: "${{ env.WORKING_DIRECTORY }}"